/* font import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/* variables */
:root {
  --secondary-color: rgb(60, 72, 88);
  --gray: #a2a2a2;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --darker-text-color: #3C4858;
  --light-gray: #f8f8f8;
}
/* resets */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  font-weight: 400;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* components */
button {
  border: none;
  outline: none;
  padding: .8rem 1.5rem;
  border-radius: 3px;
  min-width: 6rem;
  cursor: pointer;
  background-color: rgb(60, 72, 88);
  color: white;      
  transition: all .2s ease-in;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
  0 3px 1px -2px rgba(153, 153, 153, 0.2),
  0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
button::after {
  clear: both;
}
button:hover {
  box-shadow: 0 16px 26px -10px rgb(60, 72, 88, 0.56),
  0 4px 25px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgb(60, 72, 88, 0.2);
}
button.round {
  border-radius: 150px;
}

.input {
  position: relative;
  height: 4.5rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: flex-end;
}
.input > * {
  flex: 1;
}
.input > i {
  color: grey;
  flex-basis: 2.5rem;
  transition: color .2s ease-out;
  flex-grow: 0;
}
.input input, .input input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding-bottom: .5rem;
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color)), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0% 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: 0% bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background .2s ease-out;
  will-change: background;
}
.input input:-webkit-autofill {
  border-bottom: 1.2px solid #D2D2D2;
}
.input input:-webkit-autofill:focus {
  border-bottom-color: var(--secondary-color);
}
.input input {
  color: inherit;
  font-size: inherit;
}
.input input:focus {
  background-size: 100% 2px, 100% 1px;
}
.input label {
  position: absolute;
  bottom: .7rem;
  left: 2.5rem;
  transition: all .2s ease-in;
  font-size: 1.3rem;
  cursor: pointer;
  color: grey;
}
.input.active > label {
  transform: translateY(-1.6rem);
  font-size: .9rem;
}
.input.active > i {
  color: var(--secondary-color);
}

h1 {
  font-size: 2.5rem;
}
/* express styles */
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: #fcf8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  color: var(--primary-text-color);
}
main {
  min-height: 45rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  flex: 0 1 900px;
  display: grid;
  grid-template-areas: "intro"
                       "login";
  grid-template-columns: 1fr;
}
section.auth {
  grid-area: login;
  background: white;
  min-height: 30rem;
  border-radius: 4px 0 0 4px;
  padding: 7rem 3rem;
}
section.auth .login, section.auth .signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 0;
  opacity: .1;
	overflow-y: hidden;
	transition-property: all;
  transition-duration: .6s;
	transition-timing-function: ease-in-out;
}
section.auth.login-view .login {
  max-height: 500px;
  opacity: 1;
  transition-delay: .6s;
}
section.auth.signup-view .signup {
  max-height: 500px;
  opacity: 1;
  transition-delay: .6s;
}

section.auth span.link {
  color: #b7a193;
  cursor: pointer;
}
section.auth p {
  font-size: 1.4rem;
}
section.auth button{
  margin-top: 1rem;
  float: right;
}
section.intro {
  grid-area: intro;
  padding: 7rem 5rem;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/bg-2.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  border-radius: 0 4px 4px 0;
  letter-spacing: 1px;
  line-height: 1.4;
}
section.intro p {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 15rem;
}
/* breakpoint */
@media (min-width: 500px) {
  main {
    grid-template-areas: "login intro";
    grid-template-columns: 3.5fr 6.5fr;
  }
}